name: Weekly developer digest

on:
  schedule:
  # Every Friday morning (UTC)
  - cron: '0 7 * * 5'
  workflow_dispatch:

jobs:
  digest:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    # Checkout local action
    - name: Checkout
      uses: actions/checkout@v2
    # Run local action
    - name: Weekly digest
      uses: inveniosoftware/digest-action@v1
      id: digest
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        webhook-id: ${{ secrets.WEBHOOK_ID }}
        webhook-token: ${{ secrets.WEBHOOK_TOKEN }}

    # Mark this week's issues as stale and close them after one month.
    - name: Manage issues
      uses: actions/stale@v4
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        days-before-stale: 1
        days-before-close: 1
        ignore-updates: true
        stale-issue-label: 'Archived'
        stale-pr-label: 'Archived'
        operations-per-run: 200
